/* Estilos base (Nivel 2 - Día 1) */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

Footer {
  font-size: 18px;
}

h2 {
  font-size: 18px;
}

.titulo-seccion {
  font-size: 22px;
}

#servicios h2 {
  font-size: 26px;
}

.caja-prueba {
  width: 300px;
  padding: 20px;
  border: 10px solid black;
}